.docs-theme-picker-menu {
  .mat-menu-item {
    .mat-icon.theme-example-icon {
      margin-right: 0;
      margin-left: 8px;
      float: right;

      svg {
        vertical-align: middle;
      }

      // The below colors need to align with the themes defined in ThemePicker
      &.realtheory svg {
        .docs-theme-icon-background {
          fill: #fafafa;
        }
        .docs-theme-icon-button {
          fill: #FFC107;
        }
        .docs-theme-icon-toolbar {
          fill: #673AB7;
        }
      }
    }
  }
}
